@use "./variables" as var;

.movie-content {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: var.$border-radius-small;
}
