<div class="divider"></div>

<app-edit-header header="Zmień hasło" (editChanged)="isEditMode = $event" />

@if (isEditMode) {
<form class="user-data-item" [formGroup]="changePasswordForm">
  <div class="form-field">
    <div class="label">Stare hasło:</div>
    <input
      type="oldPassword"
      class="input"
      formControlName="oldPassword"
      type="password"
      (paste)="$event.preventDefault()"
    />
  </div>
  <div class="form-field">
    <div class="label">Nowe hasło:</div>
    <input
      type="newPassword"
      class="input"
      formControlName="newPassword"
      type="password"
      (paste)="$event.preventDefault()"
      [class.invalid]="newPassword?.touched && newPassword?.invalid"
    />
    @if(newPassword?.touched && newPassword?.invalid) {
    @if(newPassword?.errors?.['required']) {
    <small class="error"> Hasło jest wymagane. </small>
    } @if(newPassword?.errors?.['minlength']) {
    <small class="error">
      Hasło musi mieć co najmniej
      {{ newPassword?.errors?.['minlength'].requiredLength }} znaków.</small
    >
    } }
  </div>
</form>

<button class="button" (click)="onChangePassword()">
  @if (isLoading) {
  <app-spinner [diameter]="18"></app-spinner>
  } @else { Zapisz }
</button>
}
