@use "./variables" as var;

.license-rules-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    display: block;
    margin-bottom: 0;
  }

  .add-button {
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.rule-button {
  // background-color: white;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-rule {
  background-color: transparent;
  color: white;
  height: 30px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var.$color-primary;

  .icon {
    margin-right: 5px;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 12px 0;
}

.license-rule-header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;

  .form-field {
    width: 45%;
  }
}
