@if (movieMetadata) {
<div class="movie-container dashboard container">
  <div class="movie-content">
    <div class="display">
      <video
        controls
        class="video"
        *ngIf="isLoggedIn$ | async; else noAccessInfo"
      >
        <source
          [src]="
            'https://cdn.flowplayer.com/a30bd6bc-f98b-47bc-abf5-97633d4faea0/v-de3f6ca7-2db3-4689-8160-0f574a5996ad.mp4'
          "
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>

      <ng-template #noAccessInfo>
        <div class="no-access-wrapper">
          <img [src]="movieMetadata.imageUrl" class="no-access-image" />
          <div class="no-access-bar">
            <img src="./../../../assets/icons/info.svg" class="info-icon" />
            <p class="no-access-title">
              Musisz być zalogowany, aby móc oglądać ten film.
            </p>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="comments-wrapper">
      <app-comments
        [comments]="comments"
        class="comments comments-desktop"
        (commentChanged)="onCommentChanged($event)"
      ></app-comments>
    </div>
  </div>

  <div class="movie-metadata">
    <h1>{{ movieMetadata.title }}</h1>
    <p class="description">{{ movieMetadata.description }}</p>
  </div>
  <app-comments
    [comments]="comments"
    class="comments comments-mobile"
    (commentChanged)="onCommentChanged($event)"
  ></app-comments>
</div>
}
