@use "./variables" as var;

.movie-content {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.movie-metadata {
  margin-top: 15px;
  width: 75%;
  text-align: justify;

  .description {
    margin-right: 15px;
  }
}

.display {
  // flex-grow: 9;
  width: 75%;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
  height: 100%;
  border-radius: var.$border-radius-small;
}

.comments-wrapper {
  // flex-grow: 3;
  max-height: 100%;
  width: 25%;
}

.comments {
  display: block;
}

.comments-mobile {
  display: none;
}

@media screen and (max-width: var.$breakpoint-large) {
  .display,
  .comments-wrapper {
    height: 66%;
  }

  .display,
  .comments-wrapper {
    width: 100%;
  }

  .comments-wrapper {
    display: none;
  }

  .comments {
    margin-top: 50px;
  }

  .comments-desktop {
    display: none;
  }

  .comments-mobile {
    display: block;
  }

  .movie-metadata {
    width: 100%;
  }
}
