@use "./variables" as var;

.movie-container {
  max-width: 1300px;
}

.content {
  display: flex;
}

.recommended-movies {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 20%;
  margin-left: 25px;
}

.movie-wrapper {
  width: 80%;
  aspect-ratio: 16 / 9;
}

.comments-mobile {
  display: none;
}

.spinner-wrapper {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: var.$breakpoint-large) {
  .display,
  .comments-wrapper {
    height: 66%;
  }

  .display,
  .comments-wrapper {
    width: 100%;
  }

  .recommended-movies {
    display: none;
  }

  .movie-wrapper {
    width: 100%;
  }

  .comments {
    margin-top: 50px;
  }

  .comments-mobile {
    display: block;
  }
}
