@if (movieMetadata) {
<div class="movie-container dashboard container">
  <div class="content">
    <div class="movie-wrapper">
      <div>
        @if (movieLink) {
        <app-video-player
          [movieLink]="movieLink"
          [isLicenseValid]="isLicenseValid"
          [license]="license"
        />
        } @if(!(isLoggedIn$ | async) || ((isLoggedIn$ | async) &&
        !isLicenseValid)) {
        <app-movie-image
          [imageUrl]="movieMetadata.imageUrl"
          [isLoading]="isLoadingLicense"
        >
          @if (!isLicenseValid && !isLoadingLicense && (isLoggedIn$ | async)) {
          <app-license-dialog
            class="license-dialog-wrapper"
            [licenseId]="licenseId"
            [licenseRules]="movieMetadata.licenseRules"
            [licenseDialogType]="licenseDialogType"
            [contentId]="contentId"
            (submitButtonChanged)="onSubmitLicense()"
          />
          }
        </app-movie-image>
        }
      </div>

      <app-movie-metadata [movieMetadata]="movieMetadata" />

      <app-comments
        class="comments comments-desktop"
        [submitComment]="submitComment"
        [contentComments]="movieMetadata.contentComments"
        (commentChanged)="onCommentChanged($event)"
      />
    </div>
    <div class="recommended-movies">
      @for (movie of recommendedMovies; track movie) {
      <app-movie-item [movieMetadata]="movie" class="movie-item" />
      }
    </div>
  </div>
</div>
} @if (isLoading) {
<div class="spinner-wrapper">
  <app-spinner [diameter]="60" text="Trwa ładowanie danych" />
</div>
} @if (!isLoading && !movieMetadata) {
<div class="spinner-wrapper">Brak zawartości do wyświetlenia</div>
}
