<div class="divider"></div>

<div class="header">
  <h2 class="header-data">Zarządzaj kontem</h2>
  @if (isEditMode) {
  <img
    src="./../../../../../assets/icons/close.svg"
    (click)="onEdit()"
    title="Zamknij tryb edycji"
    class="icon"
  />
  } @else {
  <img
    src="./../../../../../assets/icons/edit.svg"
    (click)="onEdit()"
    title="Edytuj"
    class="icon"
  />
  }
</div>
@if(isEditMode) {
<div class="user-data-item">
  <div class="form-field">
    <div class="label">Hasło:</div>
    <input type="password" class="input" [formControl]="password" />
  </div>
</div>

<button class="button button-delete" (click)="onDelete()">
  @if (isLoading) {
  <app-spinner [diameter]="18"></app-spinner>
  } @else { Usuń konto }
</button>
}
