@use "./variables" as var;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;

  &-data {
    margin-bottom: 0;
  }
}

.user-data-item {
  width: 40%;

  .label {
    margin-right: 6px;
  }
}

.button {
  margin-top: 12px;
  width: 40%;

  &-delete {
    background-color: var.$color-error;
    color: white;
  }
}

.block {
  display: block;
}
