<div class="divider"></div>

<app-edit-header header="Usuń konto" (editChanged)="isEditMode = $event" />

@if (isEditMode) {
<div class="user-data-item">
  <div class="form-field">
    <div class="label">Hasło:</div>
    <input
      type="password"
      class="input"
      [formControl]="password"
      (paste)="$event.preventDefault()"
    />
  </div>
</div>

<button class="button button-delete" (click)="onDelete()">
  @if (isLoading) {
  <app-spinner [diameter]="18"></app-spinner>
  } @else { Tak, chcę usunąć konto }
</button>
}
