<div class="title-container">
  <h2 class="title">Rejestracja</h2>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label class="label" for="username">Nazwa użytkownika*</label>
    <input
      type="text"
      class="input"
      formControlName="username"
      [class.invalid]="username?.touched && username?.invalid"
    />
    @if(username?.touched && username?.invalid) {
    @if(username?.errors?.['required']) {
    <small class="error"> Nazwa użytkownika jest wymagana. </small>
    } @if(username?.errors?.['minlength']) {
    <small class="error">
      Nazwa użytkownika musi mieć co najmniej
      {{ username?.errors?.['minlength'].requiredLength }} znaków.</small
    >
    } }
  </div>
  <div class="form-field">
    <label class="label" for="email">E-mail*</label>
    <input
      type="email"
      class="input"
      id="email"
      formControlName="email"
      [class.invalid]="email?.touched && email?.invalid"
    />
    @if(email?.touched && email?.invalid) { @if(email?.errors?.['required']) {
    <small class="error"> Adres e-mail jest wymagany. </small>
    } @if(email?.errors?.['email']) {
    <small class="error"> Nieprawidłowy adres e-mail </small>
    } }
  </div>

  <div class="form-field">
    <label class="label" for="password">Hasło*</label>
    <input
      type="password"
      class="input"
      formControlName="password"
      [class.invalid]="password?.touched && password?.invalid"
    />
    @if(password?.touched && password?.invalid) {
    @if(password?.errors?.['required']) {
    <small class="error"> Hasło jest wymagane. </small>
    } @if(password?.errors?.['minlength']) {
    <small class="error">
      Hasło musi mieć co najmniej
      {{ password?.errors?.['minlength'].requiredLength }} znaków.</small
    >
    } }
  </div>
  <button type="submit" class="button">
    @if (isLoading) {
    <app-spinner [diameter]="18"></app-spinner>
    } @else { Zarejestruj }
  </button>
</form>
<div class="link-info">
  Masz już konto? Zaloguj się
  <span class="redirect-message" (click)="navigateToSignIn()">tutaj</span>
</div>
<div class="link-info">
  Chcesz zostać partnerem i dostarczać filmy?
  <p [style.marginTop]="'6px'">
    <span
      class="redirect-message"
      (click)="navigateToContentCreatorRegistration()"
      >Zarejestruj się jako partner</span
    >
  </p>
</div>
