@if(licenseRule) {
<div
  class="rule-wrapper"
  [class.selected]="isSelectedRule"
  (click)="onSelectLicenseRule(licenseRule)"
>
  <div class="icon-wrapper">
    <img
      src="./../../../../../assets/icons/{{ iconName }}.svg"
      class="rule-icon"
    />
  </div>
  <div class="rule-details">
    <div class="rule-type">{{ licenseRule.type | licenseType }}</div>
    <div class="rule-duration">
      Czas trwania:
      <div class="duration-value">
        {{
          licenseRule.duration
            ? (licenseRule.duration | licenseDuration)
            : "Nieograniczony"
        }}
      </div>
    </div>
  </div>
  <div class="rule-price">{{ licenseRule.price | currency }}</div>
</div>
}
