<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <h3>Metadane</h3>
  <div class="form-field">
    <label class="label" for="title">Tytuł</label>
    <input class="input" id="title" formControlName="title" />
  </div>

  <div class="form-field">
    <label class="label" for="description">Opis</label>
    <textarea
      class="input"
      id="description"
      formControlName="description"
      rows="5"
    ></textarea>
  </div>

  <app-license-rules-form
    [submit]="submit"
    [isEditMode]="_isEditMode"
    [licenseRules]="licenseRules"
    (rulesChanged)="onRulesChanged($event)"
  ></app-license-rules-form>

  @if(!_isEditMode) {
  <h3>Content</h3>

  <app-drag-and-drop-upload-file
    #uploadImageTemplate
    [fileType]="fileType.Image"
    [label]="'Zdjęcie'"
    (removeFileChanged)="onRemoveImage()"
    (uploadFileChanged)="onUploadImage($event)"
  ></app-drag-and-drop-upload-file>

  <app-drag-and-drop-upload-file
    #uploadMovieTemplate
    [fileType]="fileType.Movie"
    [label]="'Film'"
    (removeFileChanged)="onRemoveMovie()"
    (uploadFileChanged)="onUploadVideo($event)"
  ></app-drag-and-drop-upload-file>
  }

  <button class="button" type="submit">
    @if (isLoading) {
    <app-spinner [diameter]="18"></app-spinner>
    } @else {
    {{ _isEditMode ? "Edytuj" : "Dodaj" }} film }
  </button>
</form>
