<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <h3>Metadane</h3>
  <div class="form-field">
    <label class="label" for="title">Tytuł*</label>
    <input
      class="input"
      id="title"
      formControlName="title"
      [class.invalid]="title?.touched && title?.invalid"
    />
    @if(title?.touched && title?.invalid) { @if(title?.errors?.['required']) {
    <small class="error"> Tytuł jest wymagany. </small>
    } }
  </div>

  <div class="form-field">
    <label class="label" for="description">Opis*</label>
    <textarea
      class="input"
      id="description"
      formControlName="description"
      [class.invalid]="description?.touched && description?.invalid"
      rows="5"
    ></textarea>
    @if(description?.touched && description?.invalid) {
    @if(description?.errors?.['required']) {
    <small class="error"> Opis jest wymagany. </small>
    } }
  </div>

  <app-license-rules-form
    [submit]="submit"
    [isEditMode]="isEditMode"
    [licenseRules]="licenseRules"
    [clearLicenseRules]="clearLicenseRules"
    (rulesChanged)="onRulesChanged($event)"
  />

  @if(!isEditMode) {
  <h3>Content</h3>

  <app-drag-and-drop-upload-file
    #uploadImageTemplate
    [fileType]="fileType.Image"
    [label]="'Zdjęcie'"
    (removeFileChanged)="onRemoveImage()"
    (uploadFileChanged)="onUploadImage($event)"
  />

  <app-drag-and-drop-upload-file
    #uploadMovieTemplate
    [fileType]="fileType.Movie"
    [label]="'Film'"
    (removeFileChanged)="onRemoveMovie()"
    (uploadFileChanged)="onUploadVideo($event)"
  />
  }

  <button class="button" type="submit">
    @if (isLoading) {
    <app-spinner [diameter]="18" />
    } @else {
    {{ isEditMode ? "Edytuj" : "Dodaj" }} film }
  </button>
</form>
