@font-face {
  font-family: "Mitr-Bold";
  src: url("./../assets/fonts/Mitr/Mitr-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Mitr-Light";
  src: url("./../assets/fonts/Mitr/Mitr-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Mitr-Medium";
  src: url("./../assets/fonts/Mitr/Mitr-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Mitr-Regular";
  src: url("./../assets/fonts/Mitr/Mitr-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mitr-SemiBold";
  src: url("./../assets/fonts/Mitr/Mitr-SemiBold.ttf") format("truetype");
}
