/* You can add global styles to this file, and also import other style files */
@use "./reset.scss";
@use "./fonts.scss";
@use "./variables.scss" as var;

.container {
  max-width: 1400px;
  margin: 15px auto;
  width: calc(100% - 30px);
}
.dashboard {
  margin: 24px auto;
  margin-bottom: 50px;
}

body {
  font-family: "Mitr-Light";
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "Mitr-Regular";
}

h1 {
  font-size: 30px;
  margin-bottom: 32px;

  @media screen and (max-width: var.$breakpoint-small) {
    font-size: 24px;
  }
}

h2 {
  font-size: 20px;
  margin-bottom: 18px;

  @media screen and (max-width: var.$breakpoint-small) {
    font-size: 18px;
  }
}

h3 {
  font-size: 16px;
}

.divider {
  margin: 25px 0;
  background-color: grey;
  content: "";
  height: 1px;
}

.button {
  background-color: var.$color-primary;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-family: "Mitr-Medium";
}

/* Styl dla całego paska przewijania */
::-webkit-scrollbar {
  width: 12px; /* szerokość paska przewijania */
}

/* Styl dla tła paska przewijania (ścieżki, po której porusza się kciuk) */
::-webkit-scrollbar-track {
  background: var.$color-grey-2; /* kolor tła paska przewijania */
}

/* Styl dla kciuka przewijania (części przewijanej) */
::-webkit-scrollbar-thumb {
  background: rgb(47, 47, 47); /* kolor kciuka przewijania */
  border-radius: var.$border-radius-small;
}
