/* You can add global styles to this file, and also import other style files */
@use "./reset.scss";
@use "./fonts.scss";
@use "./variables.scss" as var;

.container {
  width: 1400px;
  margin: auto;
}
.dashboard {
  margin: 24px auto;
}

body {
  font-family: "Mitr-Light";
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "Mitr-Regular";
}

h1 {
  font-size: 30px;
  margin-bottom: 32px;
}

h2 {
  font-size: 20px;
  margin-bottom: 18px;
}

h3 {
  font-size: 16px;
}

.divider {
  margin: 25px 0;
  background-color: grey;
  content: "";
  height: 1px;
}

.button {
  background-color: var.$color-primary;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-family: "Mitr-Medium";
}
