$color-primary: rgb(193, 83, 3);
$color-grey: rgb(107, 107, 107);
$color-grey-2: #322f2f80;
$color-grey-3: rgb(75, 68, 68, 0.5);
$color-error: #bd362f;

$border-radius-small: 5px;

$breakpoint-extralarge: 1400px;
$breakpoint-large: 992px;
$breakpoint-medium: 768px;
$breakpoint-small: 600px;
