@for (movie of movieList; track movie) {
<div class="expansion-panel">
  <div class="header">
    <div class="title" (click)="toggleMovie(movie.uuid)">
      <img
        class="expand-arrow"
        [class.arrow-up]="movie.isExpanded"
        src="./../../../../../assets/icons/expand-arrow.svg"
      />
      <div>{{ movie.title }}</div>
    </div>
    <div class="actions">
      <img
        class="edit-icon"
        src="./../../../../../assets/icons/edit.svg"
        title="Edytuj"
        (click)="editMovie(movie.uuid)"
      />
      <img
        class="delete-icon"
        src="./../../../../../assets/icons/delete.svg"
        title="Usuń"
        (click)="deleteMovie(movie)"
      />
    </div>
  </div>
  @if (movie.isExpanded) {
  <div class="content">
    <div class="content-section">
      <p class="content-header">Opis:</p>
      <p class="description">
        {{ movie.description }}
      </p>
    </div>

    @for (rule of movie.licenseRules; track rule; let i = $index) {
    <div class="content-section">
      <p class="content-header">Licencja nr {{ i + 1 }}:</p>
      <div class="content-body description license">
        <p>Typ:</p>
        <p>{{ rule.type | licenseType }}</p>
      </div>
      <div class="content-body description license">
        <p>Cena:</p>
        <p>{{ rule.price | currency }}</p>
      </div>

      @if(rule.type === 2) {
      <div class="content-body description license">
        <p>Czas trwania:</p>
        <p>{{ rule.duration | licenseDuration }}</p>
      </div>
      }
    </div>
    }

    <div class="content-section">
      <p class="content-header">Status zdjęcia:</p>
      <p class="content-body" [appFileStatus]="movie.imageStatus">
        {{ movie.imageStatus | fileStatus }}
      </p>
    </div>
    <div class="content-section">
      <p class="content-header">Status filmu:</p>
      <p class="content-body" [appFileStatus]="movie.contentStatus">
        {{ movie.contentStatus | fileStatus }}
      </p>
    </div>
  </div>
  }
</div>
}
