@use "./variables" as var;

.navbar {
  background-color: black;
  height: 60px;
  display: flex;
}

.content {
  display: flex;
  justify-content: space-between;
}

.navigation-section {
  display: flex;

  .logo {
    margin-right: 24px;
    color: var.$color-primary;
    font-size: 24px;
    font-family: "Mitr-Medium";
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    .list-item {
      display: inline;
      color: white;
      margin: 0 18px;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .input-search {
    width: 250px;
    padding: 0 10px;
    margin-left: 12px;
    border: 1px solid var.$color-grey;
    border-right: none;
    background-color: black;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    // background-image: url("./../../../../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
  }

  .button-search {
    background-color: rgb(39, 38, 38);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var.$color-grey;
    border-left: none;
  }
}

.menu-icon {
  display: none;
}

.list2 {
  display: none;
}

.user-management {
  display: flex;
  align-items: center;

  .navigation-list {
    display: flex;
    justify-content: flex-end;

    .navigation-item {
      margin-left: 50px;
      font-size: 14px;
    }

    .list-title {
      cursor: pointer;
    }
  }

  .user-icon {
    width: 36px;
  }

  .username {
    padding-right: 10px;
    font-size: 14px;
  }
}

.user {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.reset {
  background-color: black;
  border: none;
  border: 1px solid var.$color-grey;
  border-left: none;
  padding: 0 10px;
}

.show-reset {
  color: white;
}

@media screen and (max-width: var.$breakpoint-large) {
  .username {
    display: none;
  }
}

@media screen and (max-width: var.$breakpoint-medium) {
  .list,
  .input-search,
  .user-management {
    display: none;
  }

  .navigation-section {
    .logo {
      font-size: 20px;
    }
    .list {
      display: none;
    }
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .input-search,
  .button-search,
  .reset {
    display: none;
  }
}

.mobile-menu-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .list2 {
    width: 100%;
  }

  .list-item {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid black;
    font-size: 14px;
  }
  .list-title {
    cursor: pointer;
  }

  .list-item:hover {
    color: var.$color-primary;
    transition: color 0.4s ease;
  }
}
