@use "./variables" as var;

:host {
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 60px;
}
.navbar {
  background-color: black;
  height: 60px;
  display: flex;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
}

.logo {
  margin-right: 24px;
  color: var.$color-primary;
  font-size: 24px;
  font-family: "Mitr-Medium";
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: var.$breakpoint-large) {
  .menu-icon {
    display: block;
    margin-left: auto;
  }
}

@media screen and (max-width: var.$breakpoint-medium) {
  .logo {
    font-size: 20px;
  }
}
