@use "./variables" as var;

.navbar {
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
}

.navigation-section {
  display: flex;

  .logo {
    margin-right: 24px;
    color: var.$color-primary;
    font-size: 24px;
    font-family: "Mitr-Medium";
    display: flex;
    align-items: center;
  }

  .input-search {
    width: 200px;
    padding: 0 10px 0 40px;
    margin-left: 12px;
    border: 1px solid var.$color-grey;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    background-image: url("./../../../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
  }
}

.user-management-section {
  img {
    width: 36px;
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  .list-item {
    display: inline;
    color: white;
    margin: 0 18px;
    font-size: 16px;
    cursor: pointer;
  }
}
