<nav class="navbar">
  <div class="content container">
    <div class="left-section">
      <div class="logo" routerLink="/">STREAM.io</div>
      <app-search-movie-input />
    </div>
    <img
      src="./../../../../assets/icons/menu.svg"
      class="menu-icon"
      (click)="toggleMobileMenuVisibility()"
    />
    @if (data$ | async; as data) {
    <app-navigation-desktop
      [user]="data.user"
      [isContentCreator]="data.isContentCreator"
      [isUserAdmin]="data.isUserAdmin"
    />
    }
  </div>
</nav>

@if (isMobileMenuVisible && (data$ | async); as data) {
<app-navigation-mobile
  [user]="data.user"
  [isContentCreator]="data.isContentCreator"
  [isUserAdmin]="data.isUserAdmin"
  (toggleMobileMenuVisibilityChanged)="toggleMobileMenuVisibility()"
/>
}
