<nav class="navbar">
  <div class="content container">
    <section class="navigation-section">
      <div class="logo" routerLink="/">STREAM.io</div>
      <ul class="list">
        <li class="list-item">Filmy</li>
        <li class="list-item">Seriale</li>
      </ul>
      <input
        placeholder="Tytuł..."
        class="input-search"
        type="search"
        [(ngModel)]="searchValue"
      />
      <button
        type="reset"
        class="reset"
        (click)="reset()"
        [class.show-reset]="searchValue"
      >
        &times;
      </button>
      <button class="button-search" (click)="search()">
        <img src="./../../../../assets/icons/search.svg" />
      </button>
    </section>
    <img
      src="./../../../../assets/icons/menu.svg"
      class="menu-icon"
      (click)="toggleMobileVisibility()"
    />
    <section class="user-management">
      <div routerLink="/user-dashboard">
        <span class="username">user12345</span>
        <img
          class="user-icon"
          src="./../../../../assets/icons/user-account.svg"
        />
      </div>
    </section>
  </div>
</nav>
<div>
  <ul class="mobile-menu" *ngIf="isMobileMenuVisible">
    <li class="list-item" (click)="toggleMobileVisibility()" [routerLink]="'/'">
      Strona główna
    </li>
    <li
      class="list-item"
      (click)="toggleMobileVisibility()"
      [routerLink]="'/user-dashboard'"
    >
      Panel użytkownika
    </li>
    <li
      class="list-item"
      (click)="toggleMobileVisibility()"
      [routerLink]="'/auth/signin'"
    >
      Zaloguj
    </li>
  </ul>
</div>
