@use "./variables" as var;

.movies-section {
  display: flex;
  justify-content: space-between;
}

.movie-list,
.movie-form {
  width: 40%;
}

@media screen and (max-width: var.$breakpoint-medium) {
  .movie-list,
  .movie-form {
    width: 100%;
  }
  .movie-form {
    margin-bottom: 24px;
  }
  .movies-section {
    flex-direction: column;
  }
}
