<div class="user-movies dashboard container">
  @if (isContentCreator$ | async) {
  <section class="movies-section">
    <div class="movie-form">
      <app-headers
        [isEditMode]="isEditMode"
        (editModeChanged)="onEditModeChange($event)"
      />

      @if (isEditMode && !selectedContentMetadataForEdit) {
      <p>Wybierz z listy film, który chcesz edytować.</p>
      } @else {
      <app-movie-form
        [isEditMode]="isEditMode"
        [contentMetadata]="selectedContentMetadataForEdit"
        (submitFormChanged)="onSubmitForm()"
      />
      }
    </div>

    <div class="movie-list">
      <h2>Filmy</h2>

      @if (contentMetadata) {
      <app-expansion-panel-movie
        [movies]="contentMetadata"
        [isEditMode]="isEditMode"
        (removeMovieChanged)="onRemoveMovieChanged($event)"
      />
      } @else {
      <div>Aktualnie brak dodanych filmów.</div>
      }
    </div>
  </section>
  }
</div>
