@use "./variables" as var;

.title-container {
  text-align: center;
  margin: 50px 0;
}

.link-info {
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
}

.redirect-message {
  color: var.$color-primary;
  text-decoration: underline;
  cursor: pointer;
}
