<table>
  <tr>
    <th>Id</th>
    <th>E-mail</th>
    <th>Numer telefonu</th>
    <th>Rola</th>
    <th class="management-header">Edytuj</th>
    <th class="management-header">Usuń</th>
  </tr>
  <ng-container *ngIf="users">
    @for (user of users; track user) {
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.role }}</td>
      <td class="management-cell">
        <img
          src="./../../../../assets/icons/edit.svg"
          (click)="onEditUser(user.id)"
        />
      </td>
      <td class="management-cell">
        <img
          src="./../../../../assets/icons/delete.svg"
          (click)="onDeleteUser(user.id)"
        />
      </td>
    </tr>
    }
  </ng-container>
</table>
