<div class="form-field">
  <div class="label">{{ label }}</div>
  @if(!file) {
  <label
    class="custom-file-upload"
    [class.drag-over]="isDragOver"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
    (dragleave)="onDragLeave($event)"
  >
    <input
      type="file"
      (change)="onInputChange($event)"
      class="file-input"
      [accept]="fileType === FileType.Image ? 'jpg/jpeg' : 'mp4'"
    />
    <div>
      <div class="upload-file">
        <img src="./../../../../../assets/icons/upload.svg" />
      </div>
      <div>Upuść plik tutaj</div>
    </div>
  </label>
  } @else {
  <div class="uploaded-file">
    <div>
      {{ file.name }}
    </div>
    <img
      class="remove-icon"
      src="./../../../../../assets/icons/delete.svg"
      (click)="removeFile()"
    />
  </div>
  }
</div>
