@use "variables" as var;

.spinner-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
  height: 60vh;
}

.movie-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 14px;
}

.movie-item {
  flex: 0 0 calc(25% - 10.5px);
  cursor: pointer;
}

@media screen and (max-width: var.$breakpoint-large) {
  .movie-item {
    flex: 0 0 calc(33% - 10.5px);
  }
}

@media screen and (max-width: var.$breakpoint-medium) {
  .movie-item {
    flex: 0 0 calc(50% - 8px);
  }
}
