<div class="dashboard container home">
  @if (isLoading) {
  <div class="spinner-wrapper">
    <app-spinner
      [diameter]="60"
      [borderSize]="40"
      text="Trwa ładowanie"
    ></app-spinner>
  </div>

  } @if (contentMetadataList.length) {
  <div class="movie-items-container">
    @for (contentMetadata of contentMetadataList | paginate: { itemsPerPage,
    currentPage }; track contentMetadata) {
    <app-movie-item
      class="movie-item"
      [contentMetadata]="contentMetadata"
    ></app-movie-item>
    }
  </div>
  <div class="pagination-controls">
    <pagination-controls
      (pageChange)="currentPage = $event"
      previousLabel=""
      nextLabel=""
    />
  </div>
  } @if(!contentMetadataList.length && !isLoading) { Brak filmów do
  wyświetlenia. }
</div>
