@use "./variables" as var;

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-panel {
  margin-top: 100px;
  min-height: 300px;
  width: 400px;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid var.$color-grey-3;
}
