@use "./variables" as var;

:host {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-panel {
  width: 400px;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid var.$color-grey-3;
  height: calc(100% - 60px);
}
