<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label class="label" for="title">Tytuł</label>
    <input class="input" id="title" name="title" />
  </div>

  <div class="form-field">
    <label class="label" for="description">Opis</label>
    <textarea
      class="input"
      id="description"
      name="description"
      rows="5"
      formControlName="description"
    ></textarea>
  </div>

  <div class="form-field">
    <div class="label">Zdjęcie</div>
    <label
      class="custom-file-upload"
      *ngIf="!movieForm.controls.image.value; else showFileImage"
    >
      <input
        type="file"
        (change)="onImageSelected($event)"
        formControlName="image"
      />
      <div>
        <div class="upload-image">
          <img src="./../../../../../assets/icons/upload.svg" />
        </div>
        <div>Upuść plik tutaj</div>
      </div>
    </label>
  </div>

  <div class="form-field">
    <div class="label">Film</div>
    <label
      class="custom-file-upload"
      *ngIf="!movieForm.controls.movie.value; else showFileMovie"
    >
      <input type="file" (change)="onMovieSelected($event)" />
      <div>
        <div class="upload-image">
          <img src="./../../../../../assets/icons/upload.svg" />
        </div>
        <div>Upuść plik tutaj</div>
      </div>
    </label>
  </div>
  <button class="button" type="submit">Dodaj film</button>
</form>

<ng-template #showFileMovie>
  <div class="uploaded-movie">
    <div>
      {{ movieFilename }}
    </div>
    <img
      src="./../../../../../assets/icons/delete.svg"
      (click)="removeFile('movie')"
    />
  </div>
</ng-template>
<ng-template #showFileImage>
  <div class="uploaded-movie">
    <div>
      {{ imageFilename }}
    </div>
    <img
      src="./../../../../../assets/icons/delete.svg"
      (click)="removeFile('image')"
    />
  </div>
</ng-template>
