<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label class="label" for="title">Tytuł</label>
    <input class="input" id="title" name="title" />
  </div>

  <div class="form-field">
    <label class="label" for="description">Opis</label>
    <textarea
      class="input"
      id="description"
      name="description"
      rows="5"
      formControlName="description"
    ></textarea>
  </div>

  <app-drag-and-drop-upload-file
    [fileType]="fileType.Image"
    [label]="'Zdjęcie'"
    (removeFileChanged)="onRemoveFile('image')"
    (uploadFileChanged)="onUploadImage($event)"
  ></app-drag-and-drop-upload-file>

  <app-drag-and-drop-upload-file
    [fileType]="fileType.Movie"
    [label]="'Film'"
    (removeFileChanged)="onRemoveFile('movie')"
    (uploadFileChanged)="onUploadMovie($event)"
  ></app-drag-and-drop-upload-file>
  <button class="button" type="submit">Dodaj film</button>
</form>
