<table>
  <tr>
    <th>E-mail</th>
    <th>Nazwa użytkownika</th>
    <th>Numer telefonu</th>
    <th>NIP</th>
    <th>Rola</th>
    <th class="management-header">Aktywny</th>
  </tr>
  @if(users.length) { @for (user of users; track user) {
  <tr>
    <td>{{ user.email }}</td>
    <td>{{ user.userName }}</td>
    <td>{{ user.phoneNumber ? user.phoneNumber : "-" }}</td>
    <td>{{ user.nip ? user.nip : "-" }}</td>
    <td>{{ user.userLevel }}</td>
    <td class="management-cell">
      <ng-toggle
        [value]="user.isActive"
        [color]="{
          unchecked: '#BD362F',
          checked: '#51A351'
        }"
        [width]="55"
        [labels]="{ checked: 'Tak', unchecked: 'Nie' }"
        (change)="onUserStatusChange($event.target.checked, user)"
      ></ng-toggle>
    </td>
  </tr>
  } }
</table>
