<div class="expansion-panel" *ngFor="let movie of movieList">
  <div class="header">
    <div class="title" (click)="toggleMovie(movie.id)">
      <img
        class="expand-arrow"
        [class.arrow-up]="movie.isExpanded"
        src="./../../../../../assets/icons/expand-arrow.svg"
      />
      <div class="">{{ movie.title }}</div>
    </div>
    <div class="actions">
      <img
        class="edit-icon"
        src="./../../../../../assets/icons/edit.svg"
        title="Edytuj"
        (click)="editMovie(movie.id)"
      />
      <img
        class="delete-icon"
        src="./../../../../../assets/icons/delete.svg"
        title="Usuń"
        (click)="deleteMovie(movie.id)"
      />
    </div>
  </div>
  <div class="content" *ngIf="movie.isExpanded">
    <!-- <div class="content-section">
      <p class="content-header">Gatunek:</p>
      <p>{{ movie.category }}</p>
    </div> -->
    <div class="content-section">
      <p class="content-header">Opis:</p>
      <p class="description">
        {{ movie.description }}
      </p>
    </div>
    <div class="content-section">
      <p class="content-header">Nazwa pliku ze zdjęciem:</p>
      <p>{{ movie?.fileImageName ? movie?.fileImageName : "-" }}</p>
    </div>
    <div class="content-section">
      <p class="content-header">Nazwa pliku z filmem:</p>
      <p>{{ movie?.fileMovieName ? movie?.fileMovieName : "-" }}</p>
    </div>
  </div>
</div>
