@use "./variables" as var;

.comments {
  display: flex;
  flex-direction: column;
}

.comment-list {
  overflow-y: auto;
  margin-bottom: 20px;
}

.comment {
  background-color: var.$color-grey-2;
  border-radius: var.$border-radius-small;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid var.$color-grey-3;
  color: rgb(187, 186, 186);

  .comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    .creation-time {
      font-size: 14px;
    }
  }
}

.add-comment {
  display: flex;
  flex-direction: column;
  border-radius: var.$border-radius-small;
  margin-bottom: 20px;
}

.comment-textarea {
  background-color: black;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: var.$color-grey-2;
  color: white;
  resize: none;
  margin: 10px 0;
}

textarea {
  &::placeholder {
    font-family: "Mitr-Light";
  }

  &:focus {
    border: 1px solid var.$color-primary;
  }
}

.username {
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
}

.description {
  font-size: 14px;
}

.no-comments {
  display: flex;
  margin: 15px 0;
  font-size: 16px;
}

textarea.disabled {
  border-color: var.$color-grey;
}

.button {
  width: 200px;
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

@media screen and (max-width: var.$breakpoint-small) {
  .button {
    width: 100%;
  }

  .no-comments {
    font-size: 14px;
  }
}
