@use "variables" as var;
.header-second {
  margin: 20px 0;
}

.movies-section {
  display: flex;
  justify-content: space-between;
}

.user-movies,
.movie-form {
  width: 40%;
}

@media screen and (max-width: var.$breakpoint-medium) {
  .movies-section {
    width: 100%;
    flex-direction: column;
  }
  .user-movies,
  .movie-form {
    width: 100%;
  }

  .movie-form {
    margin-top: 36px;
  }
}
